{% extends "layout.html" %}

{% block body %}

    <h1>FAVORITES</h1>

    <ul>
        {% for book in results %}
        <li>
            {{book['title']}} - {{book['author']}} ({{book['year']}}) Rating: {{book['rating']}}

            <form action="{{ url_for('books.del_favorites')}}" method="post">
                <input name="book_id" type="hidden" value="{{ book['id'] }}">
                <button type="submit">Delete</button> 
            </form>
        </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('books.search')}}">Search</a>
    <a href="{{ url_for('home.home')}}">Menu</a>
    
{% endblock %}