{% extends "layout.html" %}

{% block styles %}
    <link href="{{ url_for('static', filename='css/auth.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="d-flex flex-column justify-content-center align-items-center auth">
        <h1 class="mb-4">Register</h1>

        {% if errors %}
            <div class="alert alert-danger" style="max-width: 400px; width: 100%;">
                <ul class="mb-0">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form method="post" style="max-width: 400px; width: 100%;">
            <input class="form-control mb-3" autocomplete="off" autofocus name="name" placeholder="Name" type="text">
            <input class="form-control mb-3" autocomplete="off" name="email" placeholder="Email" type="text">
            <input class="form-control mb-3" autocomplete="off" name="password" placeholder="Password" type="password">
            <button class="btn btn-primary w-100" type="submit">Register</button>
        </form>

        <a href="{{ url_for('auth.login') }}">Have account? Login</a>
    </div>
{% endblock %}