{% extends "layout.html" %}

{% block body %}
    <h1>SEARCH BOOKS</h1>

    <form method="get">
        <input autocomplete="off" autofocus name="title" placeholder="Title Book" type="text">
        <button type="submit">Search</button>
    </form>

    <ul>
        {% for book in results %}
            <li>
                {{book['title']}} - {{book['author']}} ({{book['year']}})

                <form action="{{ url_for('books.add_favorites')}}" method="post">
                    <input type="hidden" name="book_id" value="{{ book['id'] }}">
                    <button type="submit">Favorite</button>
                </form>
            </li>
        {% endfor %}
    </ul>
        
{% endblock %}